{"nbformat":4,"nbformat_minor":0,"metadata":{"colab":{"provenance":[],"authorship_tag":"ABX9TyN6jIJjWeSTNFFzTB3+RGU/"},"kernelspec":{"name":"python3","display_name":"Python 3"},"language_info":{"name":"python"}},"cells":[{"cell_type":"markdown","source":["* pandas\n","* numpy\n","* matplotlib\n","* seaborn\n","* scikit-learn"],"metadata":{"id":"qfUAWKpPEFQn"}}]}